<footer class="footer">
	<div class="container-total">
		{%comment%}
		<div class="footer-navigation">
			<div class="footer-links">
				<h4 class="footer-title">Connor Bär</h4>
				
			</div>
			<div class="footer-links">
				<h4 class="footer-title">More Themes</h4>
				<nav>
					<ul class="nav">
						<li class="footer-link">
							<a href="https://connor-baer.github.io/summer" target="_blank" rel="noopener noreferrer">Summer</a>
						</li>
						
					</ul>
				</nav>
			</div>
		</div>
		{%endcomment%}
		
		<h6 class="footer-text">© {{ site.time | date: '%Y' }} <a href="https://twitter.com/{{ site.author.twitter }}" aria-label="Follow {{ site.author.name }} on Twitter.">{{ site.author.name }}</a>. All rights reserved.</h6>
	</div>
</footer>
<hr>
{% include footer.html %}