---
layout: default
---

<header>
  {% include core/social.html %}
</header>
<article>
  <div class="post -fixed -first">
    <div class="post-header container-principal">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    {% picture  {{ site.baseurl }}{{ site.assets }}/posts/{{page.image}}.jpg --img class="post-image" --img alt="{{page.image}}" loading="lazy" style="z-index: {{ lengthID | minus: forloop.index }}" %}

      {{ content }}

    </div>
  </div>
</article>

{% include copyright.html %}